* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #0f0f0f;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
/* -------------------------- Header Styles----------------------------------------*/
.text-center {
  float: left;
}
header {
  position: relative;
  height: 800px;
  min-height: 500px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/forest.jpg) no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
  overflow: hidden;
  background-attachment: fixed;
}

/* vertically center banner section */
header:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
header .banner {
  display: inline-block;
  /* vertical-align: middle; */
  margin: 0 7% 0 20%;
  width: 95%;
  padding-bottom: 30px;
  text-align: center;
}

header .banner-text {
  width: 100%;
}
header .banner-text h1 {
  font: 6em "sarina", monospace;
  color: #fff;
  letter-spacing: -2px;
  margin: 300px auto 100px auto;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.8);
}

header .banner-text hr {
  width: 60%;
  margin: 18px auto 24px auto;
  border-color: #2f2d2e;
  border-color: rgba(150, 150, 150, 0.1);
}

/* header social links */
header .social {
  margin: 24px 0;
  padding: 0;
  font-size: 5rem;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}
header .social li {
  display: inline-block;
  margin: 0 15px;
  padding: 0;
}
header .social li a {
  color: #fff;
}
header .social li a:hover {
  color: #f06000;
}

/* scrolldown link */
header .scrolldown a {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -29px;
  color: #fff;
  display: block;
  height: 42px;
  width: 42px;
  font-size: 42px;
  line-height: 42px;
  color: #fff;
  border-radius: 100%;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header .scrolldown a:hover {
  color: #f06000;
}
.social-btn {
  display: none;
}
/* primary navigation
--------------------------------------------------------------------- */

/* nav-wrap */
/* #nav-wrap {
  background-color: #181818;
  font: 12px "opensans-bold", sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  transition: top 0.3s;  Transition effect when sliding down (and up)
} */
/* #nav-wrap {
  border: 1px solid red;
  font: 12px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  transition: top 0.3s;
  padding: 5px;
} */
#nav-wrap {
  height: 100vh;
  z-index: 9999;
  justify-self: start;
  align-self: start;
  position: fixed !important;
  grid-area: 1 / 1 / 2 / 2;
  pointer-events: auto;
  width: 12%;
  position: absolute;
  top: 0 !important;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #101010;
  display: fixed;
  min-height: 3543px;
  font: 3.5rem "abolition", sans-serif;
}
.nav-box {
  border: 0px solid rgba(65, 65, 65, 1);
  border-radius: 0;
  width: 100%;
}
.nav-content {
  height: auto;
  width: 100%;
  position: relative;
}
#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: 2rem;
}

.opaque {
  background-color: #333;
}

/* hide toggle button */
/* #nav-wrap a.mobile-btn {
  display: none;
} */
.nav-box a.mobile-btn {
  display: none;
}

ul#nav {
  min-height: 48px;
  width: auto;

  /* center align the menu */
  text-align: center;
  height: 100vh;
}
ul#nav li {
  position: relative;
  list-style: none;
  height: 48px;
  display: block;
  margin: 48px 0;
}

/* Links */
ul#nav li a {
  display: inline-block;
  padding: 8px 13px;
  line-height: 32px;
  text-decoration: none;
  text-align: left;
  color: white;

  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

ul#nav li a:active {
  background-color: transparent !important;
}
ul#nav li a:hover {
  color: #f06000;
}

/*
ul#nav li.current a {
  color: #f06000;
} */

/* ------------------------------------------------------------------ */
/* About Section------------------------------------------------------------------ */

#about {
  background: #1f2024;
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;
}
#home .button,
#home .button:visited {
  color: #e6e8eb;
  width: 20%;
}
#about a,
#about a:visited {
  color: #e6e8eb;
  width: 40%;
  padding-right: 10px;
  padding-left: 10px;
}
#about a:hover,
#about a:focus {
  color: #f06000;
}
#about h1 {
  font-family: "abolition", sans-serif;
  font-weight: 400;
  font-style: normal; /* font: 3.1rem "opensans-bold", sans-serif; */
  text-transform: uppercase;
  letter-spacing: 1px;
}
#about h1 span {
  border-bottom: 3px solid #f06000;
  padding-bottom: 6px;
}
#about h1,
#resume h1 {
  font-family: "abolition", sans-serif;
  font-weight: 400;
  font-style: normal; /* font: 3.1rem "opensans-bold", sans-serif; */
  color: #fff;
  margin-bottom: 12px;
  text-transform: uppercase;
}
#about p,
#contact p {
  line-height: 30px;
  color: #c5c5c5;
  font-size: 1.6rem;
  font-weight: 750;
}
#about .profile-pic {
  position: relative;
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  margin: 4%;
}
#about .contact-details {
  width: 41.66667%;
}
#about .download {
  width: 58.33333%;
  padding-top: 6px;
}
#about .main-col {
  padding-right: 5%;
}
#about .download .button {
  margin-top: 6px;
  background: #444;
}
#about .download .button:hover {
  background: #fff;
  color: #1f2024;
}
#about .download .button i {
  margin-right: 15px;
  font-size: 20px;
}

/* ------------------------------------------------------------------ */
/* d. Resume Section
/* ------------------------------------------------------------------ */

#resume {
  background: #fff;
  background: #1f2024;
  padding-top: 90px;
  padding-bottom: 72px;
  overflow: hidden;
  font-family: "Roboto", serif;
}

#resume a,
#resume a:visited {
  color: #f06000;
}
#resume a:hover,
#resume a:focus {
  color: #313131;
}
#about h1,
#resume h1 {
  font: 6rem "abolition", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#testimonials h1 span,
#about h1 span,
#resume h1 span {
  border-bottom: 3px solid #f06000;
  padding-bottom: 6px;
}
#resume h3 {
  font: 2.6rem "Roboto", sans-serif;
  color: #c5c5c5;
}
/* #about .header-col,
#resume .header-col {
  padding-top: 9px;
} */
#about .main-col,
#resume .main-col {
  padding-right: 10%;
}

/* .education, */
.skill,
.work {
  margin-bottom: 48px;
  padding-bottom: 24px;
  /* border-bottom: 1px solid #e8e8e8; */
}
#resume .info {
  font: 2rem "Roboto", serif;
  color: #6e7881;
  margin-bottom: 18px;
  margin-top: 9px;
}
#resume .info span {
  margin-right: 5px;
  margin-left: 5px;
}
#resume .date {
  font: 2rem "Roboto", sans-serif;
  margin-top: 6px;
}

/*----------------------------------------------*/
/*	Skill Bars
/*----------------------------------------------*/
.skill-img {
  max-width: 35%;
}

.skill_container {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}
.bars {
  width: 95%;
  float: left;
  padding: 0;
  text-align: left;
}
.bars .skills {
  margin-top: 36px;
  list-style: none;
}
.bars li {
  position: relative;
  margin-bottom: 60px;
  background: #ccc;
  height: 42px;
  border-radius: 3px;
}
.bars li em {
  font: 15px "opensans-bold", sans-serif;
  color: #313131;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: normal;
  position: relative;
  top: -36px;
}
.bar-expand {
  position: absolute;
  left: 0;
  top: 0;

  margin: 0;
  padding-right: 24px;
  background: #313131;
  display: inline-block;
  height: 42px;
  line-height: 42px;
  border-radius: 3px 0 0 3px;
}

/* ------------------------------------------------------------------
/* g. Testimonials
/* ------------------------------------------------------------------ */

#testimonials {
  background-color: #1f2024;
  text-align: center;
  position: relative;
  min-height: 200px;
  width: 100%;
  overflow: hidden;
}
.work_title {
  display: none;
}
.container {
  width: 90%;
  margin: 0 2% 0 12%;
}
.container-other {
  width: 90%;
  margin: 0 5% 0 auto;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: " .";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
.card-container {
  width: 100%;
}

#testimonials h1,
#testimonials h3,
#testimonials a {
  color: #e6e8eb;
}
#testimonials .text-container {
  padding-top: 20px;
  padding-bottom: 17px;
}
#testimonials h1 {
  position: absolute;
  top: 5px;
  left: 5px;
  padding-left: 96px;
  font: 3.1rem "abolition", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
}

#testimonials .header-col {
  padding-top: 9px;
}
#testimonials h1 {
  display: none;
}
#testimonials .header-col h1:before {
  font-family: "FontAwesome";
  content: "\f10d";
  padding-right: 10px;
  font-size: 72px;
  line-height: 72px;
  text-align: left;
  float: left;
  color: #fff;
}

/* Flex Slider
/* ------------------------------------------------------------------ */

/* Reset */
.flexslider a:active,
.flexslider a:focus {
  outline: none;
}
.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0 auto;
  list-style: none;
}
.slides li {
  margin: 0;
  padding: 0;
}

/* Necessary Styles */
.flexslider {
  position: relative;
  zoom: 1;
  margin: 0;
  padding: 0;
}
.flexslider .slides {
  zoom: 1;
}
.flexslider .slides > li {
  position: relative;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li {
  display: none;
  /* -webkit-backface-visibility: hidden; */
}
/* Suggested container for slide animation setups. Can replace this with your own */
.flex-container {
  zoom: 1;
  position: relative;
}

/* Clearfix for .slides */
.slides:before,
.slides:after {
  content: " ";
  display: table;
}
.slides:after {
  clear: both;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block;
}

/* Slider Styles */
.slides {
  zoom: 1;
}
.slides > li {
  /*margin-right: 5px; */
  overflow: hidden;
}

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -25px;
  text-align: center;
}
.flex-control-nav li {
  margin: 0 10px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.flex-control-paging li a {
  width: 12px;
  height: 12px;
  display: block;
  background: #ddd;
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.3);
}
.flex-control-paging li a:hover {
  background: #ccc;
  background: rgba(255, 255, 255, 0.7);
}
.flex-control-paging li a.flex-active {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  cursor: default;
}
/* ------------------------------------------------------------------ */
/* h. Contact Section
/* ------------------------------------------------------------------ */
#contact {
  padding-top: 70px;
  padding-bottom: 50px;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/forest.jpg) no-repeat center center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  background-attachment: fixed;
  color: white;
  font-weight: 900;
}
/* #contact .section-head {
  margin-bottom: 30px;
} */
#contact a,
#contact a:visited {
  color: #e6e8eb;
  width: 60%;
}
#contact a:hover,
#contact a:focus {
  color: #f06000;
}
#contact h1 {
  font: 6rem "abolition", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#contact h1 span {
  border-bottom: 3px solid #f06000;
  padding-bottom: 6px;
  color: white;
}
#contact h4 {
  font-size: 2.6rem;
}

#contact .eigth {
  font: 50px/70px "opensans-bold", sans-serif;
  margin-bottom: 6px;
  text-align: center;
}
/* ------------------------------------------------------------------ */
/* i. Footer
/* ------------------------------------------------------------------ */
footer {
  padding-top: 20px;
  margin-bottom: 20px;
  color: #4f4f52;
  font-size: 14px;
  text-align: center;
  position: relative;
}
footer a,
footer a:visited {
  color: #fff;
}
footer a:hover,
footer a:focus {
  color: #f06000;
}

/* social links */
footer .social-links {
  margin: 18px 0 30px 0;
  padding: 0;
  font-size: 5.5rem;
}
footer .social-links li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 42px;
}
footer .social-links li:first-child {
  margin-left: 0;
}
/* Go To Top Button */
#go-top {
  position: absolute;
  top: -7px;
  left: 48.29%;
  transform: translate(-7px, -48.29%);
  -webkit-transform: translate(-7px, -48.29%);
  -moz-transform: translate(-7px, -48.29%);
  -ms-transform: translate(-7px, -48.29%);
  -o-transform: translate(-7px, -48.29%);
}
#go-top a {
  text-decoration: none;
  border: 0 none;
  display: block;
  width: 60px;
  height: 60px;
  background-color: #525252;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #fff;
  font-size: 21px;
  line-height: 60px;
  border-radius: 100%;
}
#go-top a:hover {
  background-color: #f06000;
}
